<div class="container mt-4">
  <div class="row">
    <hr class="col-12">
    <mat-card>
      <mat-card-header>
        <div class="title d-flex col-11 m-auto justify-content-between mt-3">
          <mat-card-title>Listagem de produtos</mat-card-title>
          <div class="d-flex gap-2">
            <button mat-raised-button color="primary" routerLink="/register"> Incluir </button>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="col-11 m-auto">
          <hr />
        </div>
        <app-table />
      </mat-card-content>
    </mat-card>
  </div>
</div>