<div class="container">
  <div class="row">
    <div class="col-11 m-auto p-4">
      <table mat-table [dataSource]="data" class="mat-elevation-z8">

        <ng-container matColumnDef="action">
          <th class="text-center" mat-header-cell *matHeaderCellDef> Ação </th>
          <td class="col-1" mat-cell *matCellDef="let element">
            <div class="d-flex justify-content-between col-sm-6 gap-2">
              <button type="button" class="btn btn-danger" (click)="deleteProduct(element.id)"><i
                  class="bi bi-trash3"></i></button>
              <button type="button" class="btn btn-primary" (click)="updateProduct(element)"><i
                  class="bi bi-pencil"></i></button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="sku">
          <th class="text-center" mat-header-cell *matHeaderCellDef> Sku </th>
          <td class="text-center" mat-cell *matCellDef="let element"> {{element.sku}} </td>
        </ng-container>

        <ng-container matColumnDef="product">
          <th class="text-center" mat-header-cell *matHeaderCellDef> Produto </th>
          <td class="text-center" mat-cell *matCellDef="let element"> {{element.product}} </td>
        </ng-container>

        <ng-container matColumnDef="stock">
          <th class="text-center" mat-header-cell *matHeaderCellDef> Estoque </th>
          <td class="text-center" mat-cell *matCellDef="let element"> {{element.stock}} </td>
        </ng-container>

        <ng-container matColumnDef="cost">
          <th class="text-center" mat-header-cell *matHeaderCellDef> Custo </th>
          <td class="text-center" mat-cell *matCellDef="let element"> {{element.cost}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th class="text-center" mat-header-cell *matHeaderCellDef> Preço </th>
          <td class="text-center" mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <form class="mt-5" [formGroup]="formGroupUpdate">
        <div class="mb-3">
          <label for="sku" class="form-label">Sku</label>
          <input type="text" class="form-control" id="sku" formControlName="sku">
        </div>
        <div class="mb-3">
          <label for="product" class="form-label">produto</label>
          <input type="text" class="form-control" id="product" formControlName="product">
        </div>
        <div class="mb-3">
          <label for="stock" class="form-label">Estoque</label>
          <input type="text" class="form-control" id="stock" formControlName="stock">
        </div>
        <div class="mb-3">
          <label for="cost" class="form-label">Custo</label>
          <input type="text" class="form-control" id="cost" formControlName="cost">
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Preço</label>
          <input type="text" class="form-control" id="price" formControlName="price">
        </div>
        <button type="button" class="btn btn-primary">Salvar</button>
      </form>

    </div>
  </div>
</div>